body{
    color:rgb(40, 4, 75);
    background: rgb(65, 65, 162);
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
}

header{
    border-bottom: solid 2px lime;
    padding: 20px;
    font-size: 32px;
    color: lime;
}

.chamada{
    background: rgb(31, 151, 135);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}